body {
  padding-top: 50px;
}

.container {

}

.starter-template {
  padding: 1% 0.5%;
  text-align: center;
}

.edit-frame {
  line-height: 0em;
}

.frame-controls {
  margin-top: 0.5em;
  text-align: center;
  .btn {
    width: 7em;
    margin-bottom: 0.4em;
  }
}


.controls {
  margin-top: 2em;
  text-align: center;
}
.meta-controls {
  margin-top: 2em;
  text-align: left;
}


.frame {
  line-height: 0;
  display: inline-block;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 3px;
  &.active {
    border: 1px solid #b6b6b6;
  }
}

[app-version]  {
  font-size: 50%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mycloak {
  display: none!important;
}