@pixelSize: 3em;
@miniPixelSize: @pixelSize/8;

body {
  padding-top: 50px
}

.container {

}

.starter-template {
  padding: 1% 0.5%;
  text-align: center;
}

.edit-frame {
  line-height: 0em;
  .pixels {
    width: @pixelSize*10;
    margin: 0 auto;
  }
}

.frame-controls {
  margin-top: 0.5em;
  text-align: center;
  .btn {
    width: 7em;
    margin-bottom: 0.4em;
  }
}


.controls {
  margin-top: 2em;
  text-align: center;
}
.meta-controls {
  margin-top: 2em;
  text-align: left;
}

.pixel  {
  width: @pixelSize;
  height: @pixelSize;
  padding: @pixelSize/8;
  margin: @pixelSize/8;
  display: inline-block;
  cursor: pointer;

  &.pixel-false {
    background: #b9def0;
  }
  &.pixel-true {
    background: #d43f3a;
  }
  &.mini-pixel {
    width: @miniPixelSize;
    height: @miniPixelSize;
    margin: 0.1em;
    padding:0;
  }
  &.midi-pixel {
    width: 1.2em;
    height: 1.2em;
    margin: 0.1em;
    padding:0;
  }
}

.frame {
  width: @miniPixelSize*14;
  line-height: 0;
  display: inline-block;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 0.3em 0.2em 0.3em 0.2em;
  &.active {
    border: 1px solid #b6b6b6;
  }
}

[app-version]  {
  font-size: 50%;
}

[ng-cloak]  {
  display: none;
}