<meteor-include src="header"></meteor-include>

<div class="container">
  <div class="jumbotron">
    <h1>8x8 Helper</h1>
    <p>Generate your own 8x8 Animations with ease!</p>
    <div style="text-align:center;">
      <a href="https://github.com/koyaan/8x8helper" class="btn btn-lg btn-default" style="margin-right: 10px;">Github Page</a>
      <a href="/sandbox" class="btn btn-lg btn-primary" id="preview-link">Try It</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <h3>Public Animations</h3>
        <!--<div class="animations-list-title" ng-repeat="animation in animations">-->
        <div class="animations-list-title" ng-repeat="animation in animations" ng-show="!$root.currentUser || animation.owner != $root.currentUser._id">
          <a ui-sref="animationEdit({animationId : animation._id})">{{animation.name}}</a><small> by </small>{{animation.nickname}}
        </div>
    </div>
    <div class="col-sm-6">
      <h3>My Animations</h3>
      <h4 ng-show="!$root.currentUser">Login to see your animations.</h4>
      <div class="animations-list-title" ng-repeat="animation in myanimations" >
        <a ui-sref="animationEdit({animationId : animation._id})">{{animation.name}}</a>
        <a ng-show="$root.currentUser && animation.owner == $root.currentUser._id" ng-click="remove(animation)" ng-confirm-click="Really delete?"><span class="glyphicon glyphicon-remove-circle" title="Delete"></span></a>
      </div>
    </div>
  </div>
</div>
