<meteor-include src="header"></meteor-include>
<div class="container">
  <div class="centered-row">
    <h1 contenteditable ng-model="animation.name" class="mycloak animation-title" ng-change="animation.save()" required ng-show="animation._id != 'MdhAgAZ68DJ6JNJrC'"></h1>
    <h1 ng-model="animation.name" class="mycloak animation-title" ng-show="animation._id == 'MdhAgAZ68DJ6JNJrC'">Free for all</h1>
    <a ng-click="togglePublic()" title="Toggle Public Flag" ng-show="animation._id != 'MdhAgAZ68DJ6JNJrC'">
      <span class="glyphicon public-icon" ng-class="animation.public ? 'glyphicon-eye-open' : 'glyphicon-eye-close'"></span>
    </a>
    <p ng-show="animation._id == 'MdhAgAZ68DJ6JNJrC'">
      This is the free for all animation, that everybody can edit.
    </p>
  </div>
</div>
<!--<h1>User: {{$root.currentUser._id}}</h1>-->
<div class="frame-view centered-row">
  <div class="frame" ng-class='$index == activeFrame ? "active" : "" ' ng-repeat="frame in animation.frames track by $index" ng-click="gotoFrame($index)">
    <canvas ng-model="frame" ebeframe width="83" height="83">
    </canvas>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-0  col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-6" style="text-align: center;">
      <canvas id="myCanvas" width="410" height="410" ebegrid></canvas>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
  </div>
  <div class="row">
    <div class="frame-controls">
      <a class='btn btn-lg btn-primary' ng-click="toggleDrawvalue()" ng-attr-style="color: {{ drawvalue ? '#d43f3a' : '#b9def0'}}" title="Toggle Draw Value (SPACE)"> <span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" ng-click='cloneFrame()' title="Add copy of Frame"><span class="glyphicon glyphicon-new-window"></span></a>
      <a class="btn btn-primary" ng-click="addFrame()" title="Add empty Frame"> <span class="glyphicon glyphicon-plus"></span></a>
      <a class='btn btn-primary' ng-class='animation.frames.length == 1 ? "disabled" : ""' ng-click="removeFrame()" title="Remove Frame"><span class="glyphicon glyphicon-remove"></span></a>
      <a class='btn btn-primary' ng-click="clearFrame()" title="Clear frame"><span class="glyphicon glyphicon-trash"></span></a>
      <a class='btn btn-primary' ng-click="fillFrame()" title="Fill frame"><span class="glyphicon glyphicon-th"></span></a>
      <a class="btn btn-primary" ng-click="export()" title="Export"><span class="glyphicon glyphicon-export"></span></a>
      <!--<a class="btn btn-primary" ng-click="import()" title="Import"><span class="glyphicon glyphicon-import"></span></a>-->
      <input type="text" class="form-control" ng-model="getActiveFrame().duration" placeholder="Frame duration in ms" style="width: 5em; display: inline-block"> ms
    </div>
  </div>
  <div class="row">
      <div class="controls">
        <a class='btn btn-lg btn-primary' ng-class='activeFrame > 0 ? "" : "disabled"' ng-click="firstFrame()" title="First frame"><span class="glyphicon glyphicon-fast-backward"></span></a>
        <a class='btn btn-lg btn-primary' ng-class='activeFrame > 0 ? "" : "disabled"' ng-click="prevFrame()" title="Previous frame"><span class="glyphicon glyphicon-step-backward"></span></a>
        <a class='btn btn-lg btn-default' ng-cloak title="Play"><span class="glyphicon" ng-class='!animationPlaying ? "glyphicon-play" : "glyphicon-pause"' ng-click="togglePlay()"></span> {{ activeFrame+1 }}/{{ animation.frames.length }}</a>
        <a class='btn btn-lg' ng-class='animationLoop ? "btn-info" : "btn-default"' ng-click="toggleLoop()" title="Toggle looping of animation"><span class="glyphicon glyphicon-repeat"></span></a>
        <a class='btn btn-lg btn-primary' ng-click="nextFrame()" title="Next frame. Doubleclick at last position adds new empty frame." ng-dblclick="nextdoubleClick()"><span class="glyphicon glyphicon-step-forward"></span></a>
        <a class='btn btn-lg btn-primary' ng-class='activeFrame < animation.frames.length-1 ? "" : "disabled"' ng-click="lastFrame()" title="Last frame"><span class="glyphicon glyphicon-fast-forward"></span></a>
      </div>
  </div>

</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        <p>You can rename an animation by just clicking on the title.<br>
        Clicking pixels toggles their value, you can also click and drag to draw continously<br>
        The <span class="glyphicon public-icon glyphicon-eye-open"></span> next to the title toggles the public flag.<br></p>
        <a class='btn btn-primary' ng-attr-style="color: {{ drawvalue ? '#d43f3a' : '#b9def0'}}" title="Toggle Draw Value (SPACE)"> <span class="glyphicon glyphicon-pencil"></span></a> Toggle the Color that is drawn (Hotkey SPACE)<br>
        <a class="btn btn-primary" title="Add copy of Frame"><span class="glyphicon glyphicon-new-window"></span></a>Add copy of current frame<br>
        <a class="btn btn-primary" title="Add empty Frame"> <span class="glyphicon glyphicon-plus"></span></a>Add empty frame<br>
        <a class='btn btn-primary' title="Remove Frame"><span class="glyphicon glyphicon-remove"></span></a>Remove current frame<br>
        <a class='btn btn-primary' title="Clear frame"><span class="glyphicon glyphicon-trash"></span></a>Clear current frame<br>
        <a class='btn btn-primary' title="Fill frame"><span class="glyphicon glyphicon-th"></span></a>Fill current frame<br>
        <a class="btn btn-primary" title="Export"><span class="glyphicon glyphicon-export"></span></a>Export Animation<br>
        <a class='btn btn-primary' title="First frame"><span class="glyphicon glyphicon-fast-backward"></span></a> Go to first frame<br>
        <a class='btn btn-primary' title="Previous frame"><span class="glyphicon glyphicon-step-backward"></span></a> Go back one frame<br>
        <a class='btn btn-default' title="Play"><span class="glyphicon glyphicon-play" ></span></a>  Play/pause animation <br>
        <a class='btn' ng-class='animationLoop ? "btn-info" : "btn-default"' title="Toggle looping of animation"><span class="glyphicon glyphicon-repeat"></span></a> Toggle looping <br>
        <a class='btn btn-primary' title="Next frame. Doubleclick at last position adds new empty frame." ><span class="glyphicon glyphicon-step-forward"></span></a> Next frame. Doubleclick at last position adds new empty frame.<br>
        <a class='btn btn-primary' title="Last frame"><span class="glyphicon glyphicon-fast-forward"></span></a> Go to last frame<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>